<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/profile/style.css">
    <script src="/post/main.js" defer></script>
    <script src="/profile/main.js" defer></script>
    <title>Profile</title>
  </head>
  <body>
    <%- include("header.ejs") %>
    <div class="container">
      <main class="main">
        <div class="main__profile">
          <img class="main__profile-ava" src="<%= user.userImage %>" />
          <div class="main__profile-content">
            <span class="main__profile-content-fullname"
              ><%= user.fullname %></span
            >
            <span class="main__profile-content-username"
              ><%= user.username %></span
            >
          </div>
        </div>
        <div class="main__posts">
          <h2 class="main__posts-title">My posts</h2>
          <div class="main__posts-wrapper"></div>
        </div>
      </main>
    </div>
    <div class="modal"></div>
  </body>
</html>
